@model JourneyIndexViewModel

@{
    ViewData["Title"] = "Journey Index";
}
<nav class="navbar navbar-custom">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <button class="btn btn-back" onclick="window.location.href='@Url.Action("Index", "Home")'">Geri</button>
            <a class="navbar-brand text-center mx-auto" href="#">
                @Model.OriginLocation - @Model.DestinationLocation
                <p>@Model.DepartureDate</p>
            </a>
        </div>
    </div>
</nav>
<div class="container mt-4">
    @foreach (var journey in Model.Journeys)
    {
        <div class="ticket-card row">
            <div class="col-md-8">
                <div class="ticket-title">@journey.BusCompany</div>
                <div class="ticket-location">Kalkış   →   Varış</div>
                <div class="ticket-time">@journey.DepartureTime → @journey.ArrivalTime</div>
                <div class="ticket-location">@journey.Origin - @journey.Destination</div>
            </div>
            <div class="ticket-price">@journey.Price TL</div>
        </div>
    }
    <a asp-action="Index">Geri</a>
</div>
